p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

body {
    background-color: #DEF0FF;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding: 20px;
    margin: 0 auto;
    height: 60px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.nav-bar a:visited {
    color: black;
}


.page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Menu bar at home page */
.menu-bar {
    display: block;
    text-align: center;
}

.menu-bar a {
    color: black;
}

.menu-bar a:visited {
    color: black;
}

.menu-bar ul {
    margin: 0 auto;
    padding: 0;
}

.menu-bar li {
    display: inline;
    margin: 15px;
}

.menu-guide {

    font-size: 12px;
    margin-top: 15px;
    display: block  ;
    color: rgb(139, 139, 139);
}

/* HomePage specific styles */
.page-content-home {
    padding: 10px 0;
    overflow-y: scroll;
    height: 50vh;
}


/* All pages */
.page-content {
    padding: 10px 0;
    margin-bottom: 30px;
}

.page-container p {
    font-size: 1.2rem;
}

/* Places page */
.country-tag {
    border-radius: 10px;
    background-color: rgb(196, 255, 235);
    padding: 7px 13px;
    font-size: 1.2rem;
    margin-right: 10px;
    height: 1.23rem;
    display: inline;
    min-width: fit-content;
}

.country-tags-area {
    margin: 20px 0;
    display: flex;
    overflow-x: scroll;
}

/* Work experience page */
.job-item {
    display: flex;
    width: 90%;
    margin-bottom: 20px;
    border-left: 10px solid rgb(177, 255, 247);
    padding: 17px;
    background-color: white;
    border-radius: 7px;
}

.job-item-info {
    width: 90%;
}

.job-item-info h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.job-organization {
    display: block;
}

.job-date {
    display: block;
    font-style: italic;
}

.job-item-logo {
    width: 10%;
    text-align: right;
}

.job-item-img {
    width: 70px;
}
