{% import 'components.html' as components %}

{% extends 'base.html' %}

{% block header %}
{{ components.backHomeButton() }}
<span>Sambina Islam Aninta</span>
{% endblock %}

{% block title %}
{{ Title }}
{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
<h2> Hiking </h2>
<img src="../../static/img/hike.JPG" width="70%">
<h2> Painting </h2>
<img src="../../static/img/IMG_1760.jpg" width="70%">
<img src="../../static/img/IMG_1761.jpg" width="70%">

{{ components.menuBar() }}
{% endblock %}