{% import 'components.html' as components %}

{% extends 'base.html' %}

{% block header %}
{{ components.backHomeButton() }}
<span>Sambina Islam Aninta</span>
{% endblock %}

{% block title %}
{{ Title }}
{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
<h2> Hiking </h2>

<div class="hiking-img">
    <img src="../../static/img/hike.JPG" >
</div>


<h2> Painting </h2>

<div class="painting-img">
    <img src="../../static/img/IMG_1760.jpg" >
    <img src="../../static/img/IMG_1761.jpg" >
</div>


{{ components.menuBar() }}
{% endblock %}