{% import 'components.html' as components %}

{% extends 'base.html' %}

{% block title %}
About me
{% endblock %}

{% block content %}

<p>Sambina Islam Aninta</p>
<h1>
    {{ title }}
</h1>

<div class="sambina-home-img">
    <img src="../../static/About.jpg" alt="Sambina">
</div>

<p>
    Hello! I am Sambina and I am doing a Combined Computer Science and Biology Honours at the University
    of British Columbia. I love learning about Healthcare Technology and clinical Bioinformatics and I
    am passionate about STEM education for girls coming from FGLI (First-Generation Low-Income)
    backgrounds. You can learn more about my club, UBC STEM Fellowship and the events we organize to
    support STEM students from all backgrounds!
</p>
<p style="margin-bottom: 28px">
    When I am not busy coding or working in the lab with my beautiful RNA babies,
    I love hiking and exploring the street and beaches of beautiful British Columbia. Check out projects
    and my experiences below and you can contact me if you are interested to learn more about any of my
    projects or go on a walk with me <3
</p>

{{ components.menuBar() }}

{% endblock %}