{% import 'components.html' as components %}

{% extends 'base.html' %}

{% block header %}
{{ components.backHomeButton() }}
<span>Sambina Islam Aninta</span>
{% endblock %}

<!---->
{% macro job_item(job) -%}
<div class="job-item">
    <div class="job-item-info">
        <h2>{{ job.title }}</h2>
        <span class="job-organization">{{ job.organization }}</span>
        <span class="job-date">{{ job.date }}</span>
        <pre>{{ job.description }}</pre>
    </div>
    <div class="job-item-logo">
        <img class="job-item-img" src="{{ job.logo_url }}"/>
    </div>
</div>
{%- endmacro %}

{% block title %}
{{ Title }}
{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
{% for job in job_list %} {{ job_item(job) }} {% endfor %}

{% endblock %}